{% extends 'core/base.html' %}
{% block title %}Education{% endblock %}
 {% load static %}
{% block content %}


<!--EDUCATION-->
        <section class="grey-bg" id="education">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <h3 class="title-small">
                  <span>Educación</span>
                </h3>
                <p class="content-detail">
                  
                </p>
              </div>
              <div class="col-md-9 content-right">
                <div class="row">
                  <ul class="listing-item">
                    {% for titulo in educations %}
                    <li>
                      <div class="col-md-6 col-sm-6">
                        <div class="wrap-card">
                          <div class="card">
                            <h2 class="year">
                              {{titulo.tiempo}}
                            </h2>
                            <p class="job">
                              {{titulo.titulo}}
                            </p>
                            <p class="company">
                               {{titulo.universidad}}
                            </p>
                            
                          </div>
                        </div>
                      </div>
                    </li> 
                    {% endfor %}                  
                  </ul> 
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--/.EDUCATION END-->
        <hr>
<!--Cursos-->
        <section class="grey-bg" id="education">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <h3 class="title-small">
                  <span>Cursos </span>
                </h3>
                <p class="content-detail">
                  
                </p>
              </div>
              <div class="col-md-9 content-right">
                <div class="row">
                  <ul class="listing-item">
                    {% for curso in cursos  %}
                    <li>
                      <div class="col-md-6 col-sm-6">
                        <div class="wrap-card">
                          <div class="card">
                            <h2 class="year">
                              {{ curso.tiempo }}
                            </h2>
                            <p class="job">
                                {{ curso.name }}
                            </p>
                            <p class="company">
                               {{ curso.academia }}
                            </p>
                             {% if curso.certificacion %}
                             <p class="company">
                               {{ curso.certificacion }}
                            </p>
                            {% endif %}
                           
                          </div>
                        </div>
                      </div>
                    </li> 
                    {% endfor %}                  
                  </ul> 
                </div>
              </div>
            </div>
          </div>
        </section>
        <!--/.Cursos END-->

        <hr>


<!--SKILLS-->
        <section class="white-bg" id="skill">
          <div class="container">
            <div class="row">
              <div class="col-md-3">
                <h3 class="title-small">
                  <span>Habilidades</span>
                </h3>
                <p class="content-detail">
                
                </p>
              </div>
              <div class="col-md-9 content-right">
                <!--SKILLST-->
                <div class="skillst">
                {% for skill in skills %}
                  <div class="skillbar" data-percent="{{skill.porcentaje}}%">
                    <div class="title head-sm">
                     {{skill.name}}
                    </div>
                    <div class="count-bar">
                      <div class="count"></div>
                    </div>
                  </div> 
                  {% endfor %}            
                 
                 
                  
                </div>
                <!--/.SKILLST END-->
              </div>
            </div>
          </div>
        </section>
        <!--/.SKILLS END-->

{% endblock %}